@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

#search {
    position: absolute;
    right: 20%;
    bottom: 90vh;
    padding: 10px 10px;
    width: 60%;
    border: none;
    background-color: rgb(201, 196, 196);
    border-radius: 16px;
    font-size: 1.5em;
}

#search:focus {
    outline: none;
}

body {
    background-color: #eee;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    margin-top: 14vh;
    display: grid;
    width: 700px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 210px));
    justify-content: space-evenly;
}

.grid-item {
    background-color: white;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover {
    transform: translatey(-2%);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.card-text {
    font-size: 12px;
    letter-spacing: 0.6px;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.card-btn {
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    color: #3363ff;
    background-color: #d8e0fd;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.card-btn:focus {
    outline: none;
}

.card-btn span {
    margin-left: 5px;
    transition: 0.2s;
}

.card-btn:hover,
.card-btn:active {
    background-color: #c2cffc;
}

.card-btn:hover span,
.card-btn:active span {
    background-color: #c2cffc;
    margin-left: 10px;
}
